Source: ac252
Maintainer: Thomas E. Dickey <dickey@invisible-island.net>
Section: devel
Priority: extra
Standards-Version: 3.8.4
Build-Depends: debhelper (>= 5)
Homepage: http://invisible-island.net/autoconf/

Package: ac252
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: autoconf 2.52 (stable)
 This is the supported version of autoconf used for programs developed and
 maintained by Thomas E. Dickey
